<ngb-carousel>
  <ng-template ngbSlide>
    <!-- <img [src]="images[0]" alt="Random first slide"> -->
    <img src="../../assets/images/carousel/1.JPG" alt="Random first slide">
    <div class="carousel-caption">
      <h1>First slide label. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h1>
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/carousel/2.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h1>Second slide label. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h1>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/carousel/3.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h1>Third slide label. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h1>
      <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/carousel/4.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h1>Third slide label. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h1>
      <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/images/carousel/5.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h1>Third slide label. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</h1>
      <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
</ngb-carousel>