<form action="">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      මනමාලි / මනාල
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">මනමාලි</a>
      <a class="dropdown-item" href="#">මනාල</a>
    </div>
  </div>
</form>

<form action="">
  <div class="row">
    <div class="col-md-2">
        <select name="" id="" class="form-control form-control-sm">
            <option disabled selected>මනමාලි / මනාල</option>
            <option value="bride">මනමාලි</option>
            <option value="groom">මනාල</option>
        </select>
    </div>
    <div class="col-md-2">
        <select name="" id="" class="form-control form-control-sm">
            <option disabled selected>අවම වයස</option>
            <option value="bride">මනමාලි</option>
            <option value="groom">මනාල</option>
        </select>
    </div>
    <div class="col-md-2">
        <select name="" id="" class="form-control form-control-sm">
            <option disabled selected>උපරිම වයස</option>
            <option value="bride">මනමාලි</option>
            <option value="groom">මනාල</option>
        </select>
    </div>
    <div class="col-md-2">
        <select name="" id="" class="form-control form-control-sm">
            <option disabled selected>ආගම</option>
            <option value="bride">මනමාලි</option>
            <option value="groom">මනාල</option>
        </select>
    </div>
    <div class="col-md-2">
        <select name="" id="" class="form-control form-control-sm">
            <option disabled selected>කුළය</option>
            <option value="bride">මනමාලි</option>
            <option value="groom">මනාල</option>
        </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-dark">සොයන්න</button>
    </div>
  </div>
</form>